@using CanoHealth.WebPortal.ViewModels;
@{
    ViewBag.Title = "Calendar";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<header class="main-header main-header-inverse">
    <div class="container">
        <h1 class="page-title">Doctor's Schedule</h1>
        <ol class="breadcrumb pull-right">
            <li><a href="/">Home</a></li>
            <li class="active">Scheduler</li>
        </ol>
    </div>
</header>

@Html.Partial("_CommonHeader")

<br />


<div class="container-fluid">
    @(Html.Kendo().Scheduler<ScheduleViewModel>()
                    .Name("DoctorSchedule")
                    .Date(DateTime.Today)
                    .StartTime(DateTime.Today)
                    .AllDaySlot(false)
                    .Toolbar(tool =>
                    {
                        tool.Pdf();
                    })
                    .Pdf(pdf =>
                    {
                        pdf.FileName("Schedule.pdf");
                        pdf.ProxyURL(Url.Action("ExportSchedule", "Schedulers"));
                    })
                    .Editable(false)
                    
                    .Views(views =>
                    {
                        views.DayView();
                        views.WeekView();
                        views.MonthView(monthView => monthView.Selected(true));
                        views.AgendaView();
                        views.TimelineView();
                    })
                    .Footer(footer =>
                    {
                        footer.Command("workDay");
                    })
                    .Timezone("Etc/UTC")
                    .Resources(resource =>
                    {
                        resource.Add(r => r.LocationId)
                             .DataValueField("PlaceOfServiceId")
                             .DataTextField("Name")
                             .Multiple(false)
                             .Title("Location")
                             .Name("Location")
                             .DataSource(dsl => dsl
                                 .ServerFiltering(false)
                                 .Read(read => read.Action("GetLocations", "PlaceOfService"))
                             );
                        resource.Add(r => r.Doctors)
                             .Name("Doctors")
                             .Title("Doctors")
                             .DataValueField("DoctorId")
                             .DataTextField("FullName")
                             .Multiple(true)
                             .ValuePrimitive(true)
                             .DataSource(source =>
                             {
                                 source.Read(read =>
                                 {
                                     read.Action("GetDoctorsByLocation", "ClinicDoctorTeams")
                                         .Data("SchedulersController.filterLocations");
                                 })
                                 .ServerFiltering(true);
                             });
                    })
                    .DataSource(ds => ds
                        .Model(model =>
                        {
                            model.Id(m => m.ScheduleId);
                            model.Field(f => f.Title).DefaultValue("No title");
                            model.Field(m => m.IsAllDay).DefaultValue(true);
                            model.RecurrenceId(f => f.RecurrenceID);
                            model.Field(f => f.Title).DefaultValue("No title");
                        })
                        .Read(read => read.Action("ReadSchedules", "Schedulers").Data("SchedulersController.filterDoctor"))
                    )
            //.WorkDayEnd()
    )
</div>

@Html.Partial("_PartialServerSideErrorHandlerTemplate")

@(Html.Kendo().Window().Name("Details")
   .Title("Schedule")
   .Visible(false)
   .Modal(true)
   .Draggable(true)    
   .Resizable()
)

<script id="schedule-detail-template" type="text/x-kendo-template">
    <div class="k-edit-label">
        <label class="control-label" for="title">Title</label>
    </div>
    <div data-container-for="title" class="k-edit-field">
        #=title#
    </div>

    <div class="k-edit-label">
        <label class="control-label" for="start">Start</label>
    </div>
    <div data-container-for="start" class="k-edit-field">
        #=kendo.format('{0:d}',start)#
    </div>

    <div class="k-edit-label">
        <label class="control-label" for="end">End</label>
    </div>
    <div data-container-for="end" class="k-edit-field">
        #=kendo.format('{0:d}',end)#
    </div>

    <div class="k-edit-label">
        <label class="control-label" for="isAllDay">All day event</label>
    </div>
    <div data-container-for="isAllDay" class="k-edit-field">
        #=isAllDay ? 'YES' : 'NO'#
    </div>

    <div class="k-edit-label">
        <label class="control-label" for="LocationId">Location</label>
    </div>
    <div data-container-for="LocationId" class="k-edit-field">
        @(Html.Kendo().DropDownList()
           .Name("LocationId")
           .HtmlAttributes(new { style = "width: 100%;" })
           .DataTextField("Name")
           .DataValueField("PlaceOfServiceId")
           .ValuePrimitive(true)
           .Value("#=LocationId#")
           .DataSource(source =>
           {
               source.Read(read =>
               {
                   read.Action("GetLocations", "PlaceOfService");
               });

           })
           .ToClientTemplate()
        )
    </div>

    <div class="k-edit-label">
        <label class="control-label" for="Doctors">Doctors</label>
    </div>
    <div data-container-for="Doctors" class="k-edit-field">
        @(Html.Kendo().MultiSelect()
          .Name("Doctors")
          .DataTextField("FullName")
          .DataValueField("DoctorId")
          .ValuePrimitive(true)
          .AutoBind(true)
          .Value("#=Doctors#")
          .DataSource(source =>
          {
              source.Read(read =>
              {
                  read.Action("GetDoctorsByLocation", "ClinicDoctorTeams");
              });
          })
          .ToClientTemplate())
    </div>

</script>

@section Scripts{
    <script src="~/Scripts/kendo/2018.1.221/kendo.timezones.min.js"></script>
    <script src="~/Scripts/controllers/schedulerController.js"></script>
    <script>
        $(document).ready(function () {
            SchedulersController.setSchedulerSettings();
            
            //Display the schedule details when user double click
            $("#DoctorSchedule").on("dblclick", ".k-event", function (e) {
                var scheduler = $("#DoctorSchedule").getKendoScheduler();
                var schedule = scheduler.occurrenceByUid($(this).data("uid"));
                
                var detailsTemplate = kendo.template($("#schedule-detail-template").html());
                var wnd = $("#Details").data("kendoWindow");

                wnd.content(detailsTemplate(schedule));
                wnd.setOptions({
                    width: "40%"
                });
                wnd.center().open();

                console.log("event: ", event);                  
                
            });
        });

    </script>
}
