@model CanoHealth.WebPortal.ViewModels.Manage.ChangePasswordInitViewModel

@{
    ViewBag.Title = "Change Password";   
}

<header class="main-header main-header-inverse">
    <div class="container">
        <h1 class="page-title"></h1>

        <ol class="breadcrumb pull-right">

            <li><a href="@Url.Action("Index", "Home")">Home</a></li>
            <li class="active">Change Password</li>
        </ol>
    </div>
</header>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading"></div>
                    <div class="panel-body">
                        @using (Html.BeginForm("ChangePasswordWhenInit", "Manage", FormMethod.Post, new {  role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(x => x.UserId)

                            <hr />
                            @Html.ValidationSummary("", new { @class = "text-danger" })
                            <div class="form-group">
                                <label for="OldPassword" class="control-label ">Old Password</label>
                                <input type="password"
                                        name="OldPassword"
                                        id="OldPassword"
                                        class="k-textbox"
                                        style="width: 100%;" />
                            </div>
                            <div class="form-group">
                                <label for="NewPassword" class="control-label">New Password</label>
                                <input type="password"
                                        name="NewPassword"
                                        id="NewPassword"
                                        class="k-textbox"
                                        style="width: 100%;" />
                            </div>
                            <div class="form-group">
                                <label for="ConfirmPassword" class="control-label">Confirm Password</label>
                                <input type="password"
                                        name="ConfirmPassword"
                                        id="ConfirmPassword"
                                        class="k-textbox"
                                        style="width: 100%;" />
                            </div>

                            <div class="form-group">
                                <div>
                                    <input type="submit" value="Change password" class="btn btn-ar btn-primary" />
                                </div>
                            </div>
                        }
                    </div>
                        
                    
                </div>
            </div>
        </div>        
    </div>
    


@Scripts.Render("~/bundles/lib")


